body{
    font-family: Arial;
    font-size: 1.2em;
    margin: 2em;
}

th, td {
    border-bottom: 1px solid #ddd;
}

img{
    height: auto;
    width: 20%;
}

div{
    border: black 5px solid;
    border-radius: 18px;
}

p{
    margin: 2em;
}

